In [367]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/data/2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/data/2_test.csv')

display(train)
print(train.shape)
display(test)
print(test.shape)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,6045,A,Flight,4,3,266.0,5,high,F,5,1590,0
1,44,F,Ship,3,1,174.0,2,low,M,44,1556,1
2,7940,F,Road,4,1,154.0,10,high,M,10,5674,1
3,1596,F,Ship,4,3,158.0,3,medium,F,27,1207,1
4,4395,A,Flight,5,3,175.0,3,low,M,7,4833,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6593,8610,F,Road,5,2,221.0,6,medium,M,4,1952,1
6594,3390,F,Ship,4,5,256.0,3,medium,M,10,4504,1
6595,5150,F,Ship,3,1,217.0,4,medium,F,1,5761,1
6596,3950,F,Road,4,5,174.0,3,medium,F,8,5576,0
6597,5969,C,Ship,6,2,257.0,4,medium,M,1,1513,0

(6598, 12)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6811,D,Ship,5,2,259,5,low,F,7.0,1032
1,4320,F,Ship,3,5,133,3,medium,F,4.0,5902
2,5732,F,Road,3,4,191,5,medium,F,4.0,4243
3,7429,D,Ship,4,2,221,3,low,M,10.0,4126
4,2191,D,Flight,4,5,230,2,low,F,38.0,2890
...,...,...,...,...,...,...,...,...,...,...,...
4396,2610,F,Flight,4,1,157,3,medium,M,31.0,1712
4397,3406,B,Road,3,5,139,2,medium,M,7.0,5536
4398,10395,A,Road,4,1,170,10,medium,F,3.0,5211
4399,3646,B,Ship,3,1,244,3,medium,F,1.0,5695
4400,573,A,Ship,3,4,234,2,medium,M,46.0,3108

(4401, 11)

In [369]:
#eda
train.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       5
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    3
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
Reached.on.Time_Y.N    0
dtype: int64

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6593 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6595 non-null   float64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
 11  Reached.on.Time_Y.N  6598 non-null   int64
dtypes: float64(1), int64(6), object(5)
memory usage: 618.7+ KB

In [19]:
train.select_dtypes(include='object').columns

Index(['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Product_importance', 'Gender'],
      dtype='object')

In [25]:
train['Warehouse_block'].unique()

array(['A', 'F', 'C', 'B', 'D'], dtype=object)

In [29]:
train['Mode_of_Shipment'].unique()

array(['Flight', 'Ship', 'Road', nan], dtype=object)

In [35]:
train['Customer_care_calls'].unique()

array(['4', '3', '5', '6', '2', '$7'], dtype=object)

In [39]:
train['Product_importance'].unique()

array(['high', 'low', 'medium'], dtype=object)

In [43]:
train['Gender'].unique()

array(['F', 'M'], dtype=object)

In [47]:
train.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       5
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    3
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
Reached.on.Time_Y.N    0
dtype: int64

In [141]:
for col in train.select_dtypes(include='object').columns:
    print(train[col].value_counts())
    print('\n\n')

Warehouse_block
F    2262
B    1116
A    1090
D    1069
C    1061
Name: count, dtype: int64



Mode_of_Shipment
Ship      4507
Flight    1066
Road      1020
Name: count, dtype: int64



Customer_care_calls
4     2115
3     1919
5     1403
6      604
2      404
$7     153
Name: count, dtype: int64



Product_importance
low       3162
medium    2866
high       570
Name: count, dtype: int64



Gender
F    3311
M    3287
Name: count, dtype: int64

In [143]:
train.describe()

,ID,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,6598.000000,6598.000000,6595.000000,6598.000000,6598.000000,6598.000000,6598.000000
mean,5476.977266,2.991361,210.409249,3.577751,13.353592,3604.191119,0.596696
std,3172.946154,1.409624,48.262527,1.511394,16.187267,1635.697627,0.490598
min,1.000000,1.000000,96.000000,2.000000,1.000000,1001.000000,0.000000
25%,2731.250000,2.000000,170.000000,3.000000,4.000000,1834.250000,0.000000
50%,5476.000000,3.000000,214.000000,3.000000,7.000000,4119.500000,1.000000
75%,8187.750000,4.000000,251.000000,4.000000,10.000000,5027.500000,1.000000
max,10998.000000,5.000000,310.000000,10.000000,65.000000,7684.000000,1.000000

In [371]:
train_preprocessing = train.copy()
train_preprocessing['Customer_care_calls'] = train_preprocessing['Customer_care_calls'].str.replace('$', '')

train_preprocessing['Customer_care_calls'].value_counts()

Customer_care_calls
4    2115
3    1919
5    1403
6     604
2     404
7     153
Name: count, dtype: int64

In [373]:
train_preprocessing['Customer_care_calls'] = train_preprocessing['Customer_care_calls'].astype('int')

In [375]:
train_preprocessing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6593 non-null   object
 3   Customer_care_calls  6598 non-null   int64
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6595 non-null   float64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
 11  Reached.on.Time_Y.N  6598 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 618.7+ KB

In [377]:
train_preprocessing['Cost_of_the_Product'] = train_preprocessing['Cost_of_the_Product'].fillna(train_preprocessing['Cost_of_the_Product'].mean())

In [379]:
train_preprocessing = train_preprocessing.drop(axis=1, columns=['ID'])

In [381]:
train_preprocessing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6598 non-null   object
 1   Mode_of_Shipment     6593 non-null   object
 2   Customer_care_calls  6598 non-null   int64
 3   Customer_rating      6598 non-null   int64
 4   Cost_of_the_Product  6598 non-null   float64
 5   Prior_purchases      6598 non-null   int64
 6   Product_importance   6598 non-null   object
 7   Gender               6598 non-null   object
 8   Discount_offered     6598 non-null   int64
 9   Weight_in_gms        6598 non-null   int64
 10  Reached.on.Time_Y.N  6598 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 567.1+ KB

In [383]:
train_preprocessing['Mode_of_Shipment'] = train_preprocessing['Mode_of_Shipment'].fillna(train_preprocessing['Mode_of_Shipment'].value_counts().index[0])
train_preprocessing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6598 non-null   object
 1   Mode_of_Shipment     6598 non-null   object
 2   Customer_care_calls  6598 non-null   int64
 3   Customer_rating      6598 non-null   int64
 4   Cost_of_the_Product  6598 non-null   float64
 5   Prior_purchases      6598 non-null   int64
 6   Product_importance   6598 non-null   object
 7   Gender               6598 non-null   object
 8   Discount_offered     6598 non-null   int64
 9   Weight_in_gms        6598 non-null   int64
 10  Reached.on.Time_Y.N  6598 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 567.1+ KB

In [385]:
train_preprocessing['Mode_of_Shipment'].value_counts()

Mode_of_Shipment
Ship      4512
Flight    1066
Road      1020
Name: count, dtype: int64

In [387]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [389]:
x=train_preprocessing.drop(columns=['Reached.on.Time_Y.N'])
y=train_preprocessing['Reached.on.Time_Y.N']

x_dummies = pd.get_dummies(x, drop_first=True)
x_dummies.shape

(6598, 15)

In [391]:
X_train, X_test, y_train, y_test = train_test_split(x_dummies, y, test_size=0.2, random_state=123, stratify=y)

In [393]:
rf=RandomForestClassifier(random_state=0, max_depth=3)
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)
rf_train_predict = rf.predict(X_train)
rf_pred

array([0, 0, 0, ..., 0, 1, 1])

In [395]:
f1_score(y_test, rf_pred)

0.7114882506527415

In [397]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4401 non-null   int64
 1   Warehouse_block      4401 non-null   object
 2   Mode_of_Shipment     4401 non-null   object
 3   Customer_care_calls  4401 non-null   object
 4   Customer_rating      4401 non-null   int64
 5   Cost_of_the_Product  4401 non-null   int64
 6   Prior_purchases      4401 non-null   int64
 7   Product_importance   4401 non-null   object
 8   Gender               4401 non-null   object
 9   Discount_offered     4401 non-null   float64
 10  Weight_in_gms        4401 non-null   int64
dtypes: float64(1), int64(5), object(5)
memory usage: 378.3+ KB

In [399]:
test_pre = test.copy()
test_pre = test_pre.drop(columns=['ID'])

for col in test_pre.select_dtypes(include='object'):
    print(test_pre[col].value_counts())
    print('\n''\n')

Warehouse_block
F    1404
C     772
D     765
A     743
B     717
Name: count, dtype: int64



Mode_of_Shipment
Ship      2950
Road       740
Flight     711
Name: count, dtype: int64



Customer_care_calls
4     1442
3     1298
5      925
6      409
2      234
$7      93
Name: count, dtype: int64



Product_importance
low       2135
medium    1888
high       378
Name: count, dtype: int64



Gender
F    2234
M    2167
Name: count, dtype: int64

In [401]:
test_pre['Customer_care_calls'] = test_pre['Customer_care_calls'].str.replace('$', '').astype(int)
test_pre['Customer_care_calls'].value_counts()

Customer_care_calls
4    1442
3    1298
5     925
6     409
2     234
7      93
Name: count, dtype: int64

In [403]:
test_pre = pd.get_dummies(test_pre,drop_first=True)
test_pre.shape

(4401, 15)

In [405]:

rf_test_pred = rf.predict(test_pre)
rf_test_pred

array([1, 0, 0, ..., 0, 0, 1])

In [407]:
rf_test_pred = pd.DataFrame(rf_test_pred, columns=['pred'])
rf_test_pred.to_csv('result.csv',index=False)

In [409]:
pd.read_csv('result.csv')

      pred
0        1
1        0
2        0
3        0
4        1
...    ...
4396     1
4397     0
4398     0
4399     0
4400     1

[4401 rows x 1 columns]

In [411]:
##dummy데이터 만들기 대신 라벨링으로 해보기

train_pre = x
print(train_pre.info())
print(train_pre.select_dtypes(include='object').columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6598 non-null   object
 1   Mode_of_Shipment     6598 non-null   object
 2   Customer_care_calls  6598 non-null   int64
 3   Customer_rating      6598 non-null   int64
 4   Cost_of_the_Product  6598 non-null   float64
 5   Prior_purchases      6598 non-null   int64
 6   Product_importance   6598 non-null   object
 7   Gender               6598 non-null   object
 8   Discount_offered     6598 non-null   int64
 9   Weight_in_gms        6598 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 515.6+ KB
None
Index(['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender'], dtype='object')

In [413]:
le_Warehouse_block = LabelEncoder()
le_Mode_of_Shipment = LabelEncoder()
le_Product_importance = LabelEncoder()
le_Gender = LabelEncoder()

train_pre['Warehouse_block'] = le_Warehouse_block.fit_transform(train_pre['Warehouse_block'])
train_pre['Mode_of_Shipment'] = le_Mode_of_Shipment.fit_transform(train_pre['Mode_of_Shipment'])
train_pre['Product_importance'] = le_Product_importance.fit_transform(train_pre['Product_importance'])
train_pre['Gender'] = le_Gender.fit_transform(train_pre['Product_importance'])

train_pre.head()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,0,0,4,3,266.0,5,0,0,5,1590
1,4,2,3,1,174.0,2,1,1,44,1556
2,4,1,4,1,154.0,10,0,0,10,5674
3,4,2,4,3,158.0,3,2,2,27,1207
4,0,0,5,3,175.0,3,1,1,7,4833

In [415]:
X_train, X_test, y_train, y_test = train_test_split(train_pre, y, test_size=0.2, random_state=1)

rf = RandomForestClassifier(random_state=0, max_depth=3)
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)

f1_score(y_test,rf_pred)

In [417]:
test_pre =test.copy()
test_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4401 non-null   int64
 1   Warehouse_block      4401 non-null   object
 2   Mode_of_Shipment     4401 non-null   object
 3   Customer_care_calls  4401 non-null   object
 4   Customer_rating      4401 non-null   int64
 5   Cost_of_the_Product  4401 non-null   int64
 6   Prior_purchases      4401 non-null   int64
 7   Product_importance   4401 non-null   object
 8   Gender               4401 non-null   object
 9   Discount_offered     4401 non-null   float64
 10  Weight_in_gms        4401 non-null   int64
dtypes: float64(1), int64(5), object(5)
memory usage: 378.3+ KB

In [419]:
test_pre = test_pre.drop(columns=['ID'])
test_pre['Customer_care_calls'] = test_pre['Customer_care_calls'].str.replace('$', '').astype(int)
test_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      4401 non-null   object
 1   Mode_of_Shipment     4401 non-null   object
 2   Customer_care_calls  4401 non-null   int64
 3   Customer_rating      4401 non-null   int64
 4   Cost_of_the_Product  4401 non-null   int64
 5   Prior_purchases      4401 non-null   int64
 6   Product_importance   4401 non-null   object
 7   Gender               4401 non-null   object
 8   Discount_offered     4401 non-null   float64
 9   Weight_in_gms        4401 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 344.0+ KB

In [421]:
test_pre['Warehouse_block'] = le_Warehouse_block.transform(test_pre['Warehouse_block'])
test_pre['Mode_of_Shipment'] = le_Mode_of_Shipment.transform(test_pre['Mode_of_Shipment'])
test_pre['Product_importance'] = le_Product_importance.transform(test_pre['Product_importance'])
test_pre['Gender'] = le_Gender.transform(test_pre['Product_importance'])
test_pre.head()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,3,2,5,2,259,5,1,1,7.0,1032
1,4,2,3,5,133,3,2,2,4.0,5902
2,4,1,3,4,191,5,2,2,4.0,4243
3,3,2,4,2,221,3,1,1,10.0,4126
4,3,0,4,5,230,2,1,1,38.0,2890

In [439]:
rf_test_pred = rf.predict(test_pre)
rf_test_pred

array([1, 0, 0, ..., 0, 0, 1])

In [445]:
df = pd.DataFrame(rf_test_pred,columns=['pred'])
df
df.to_csv('result.csv',index=False)

In [453]:
df = pd.read_csv('result.csv')
df

      pred
0        1
1        0
2        0
3        0
4        1
...    ...
4396     1
4397     0
4398     0
4399     0
4400     1

[4401 rows x 1 columns]

In [ ]:
#더미화+scaling
train_pred =